:root {
	--color-primary: #5ec576;
	--color-secondary: #ffcb03;
	--color-tertiary: #ff585f;
	--color-primary-darker: #4bbb7d;
	--color-secondary-darker: #ffbb00;
	--color-tertiary-darker: #fd424b;
	--color-primary-opacity: #5ec5763a;
	--color-secondary-opacity: #ffcd0331;
	--color-tertiary-opacity: #ff58602d;
	--gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
	--gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	color: #444;
	line-height: 1.9;

	font-size: 1.6rem;
}

.container {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(
		109.6deg,
		rgba(62, 161, 219, 1) 11.2%,
		rgba(93, 52, 236, 1) 100.2%
	);
	padding: 3rem;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
}

/*Header Main Styles*/
#header {
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-rows: 5rem 1fr;
}

.navigation {
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: space-around;
	align-items: center;
}
.navigation ul {
	color: #444;

	font-size: 1.6rem;
	font-weight: 300;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;

	transition: all 0.3s ease-in-out;
}

.navigation ul li {
	list-style: none;
	margin: 0 4rem;
	border-bottom: 1px solid white;

	padding: 0.5rem;
}

.navigation ul li a {
	text-decoration: none;
	color: #444;
	letter-spacing: 0.2rem;

	font-size: 1.4rem;
	font-weight: 200;
}

.header__title {
	display: grid;
	grid-template-columns: 3fr 3fr;
	row-gap: 2rem;

	justify-items: center;
	align-items: center;
	padding-left: 7rem;
}

.btn--text {
	display: inline-block;
	background: none;
	font-size: 1.7rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	color: black;
	border: none;
	border-bottom: 1px solid white;
	padding-bottom: 2px;
	cursor: pointer;
	transition: all 0.3s;
	border-radius: 10rem;
	padding: 1.5rem;
	letter-spacing: 0.1rem;
}

.introduction {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.2rem;
}

.intro_image img {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 60%;
	object-fit: contain;
	height: auto;
	border-radius: 10rem;
	box-shadow: 15px 12px 23px 3px rgba(0, 0, 0, 0.58);
	-webkit-box-shadow: 15px 12px 23px 3px rgba(0, 0, 0, 0.58);
	-moz-box-shadow: 15px 12px 23px 3px rgba(0, 0, 0, 0.58);
}

/*Main Style*/

#main {
	height: 100%;
	width: 100%;

	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	line-height: 1.3;

	letter-spacing: 0.2rem;
	border-radius: 7rem;
	box-shadow: 15px 12px 23px 3px rgba(0, 0, 0, 0.58);
	-webkit-box-shadow: 15px 12px 23px 3px rgba(0, 0, 0, 0.58);
	-moz-box-shadow: 15px 12px 23px 3px rgba(0, 0, 0, 0.58);
}

.section__1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 1;
}

.intro__about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.6rem;
	font-weight: 500;
}

.intro__about img {
	object-fit: contain;
	width: 10rem;
	border-radius: 50%;
	opacity: 1;
}

.section__2 {
	height: 100vh;
	width: 100%;
	padding: 3rem;
	margin-top: 1rem;
	border: none;

	display: flex;
	flex-direction: column;
	background-image: linear-gradient(
		109.6deg,
		rgba(62, 161, 219, 1) 11.2%,
		rgba(93, 52, 236, 1) 100.2%
	);
}

.section__2 .main__about {
	height: 60%;
	width: 100%;
	line-height: 2.5;
	font-family: 'Poppins', sans-serif;
	font-size: 2rem;
	font-weight: 300;
	letter-spacing: 0.2rem;
	text-align: center;
	padding: 0 16rem;
}

.section__2 .end__about {
	height: 40%;
	width: 100%;
	line-height: 1.5;
	letter-spacing: 0.2rem;
	display: flex;
	flex-direction: column;
	color: #444;
}

.section__2 .end__about .languages {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.section__2 .end__about .languages h4 {
	margin-left: 4rem;
	background-image: linear-gradient(
		109.6deg,
		rgba(156, 252, 248, 1) 11.2%,
		rgba(110, 123, 251, 1) 91.1%
	);
	opacity: 0.7;
	transform: scale(1.07, 1.05) skewX(-15deg);
	text-align: center;
	border-bottom: 1px solid #444;
}

.section__2 .end__about h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20%;
	width: 100%;
	text-align: center;
}
.section__2 .end__about .languages {
	height: 80%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section__2 .end__about .languages li {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	text-decoration: none;
	list-style: none;
}

.section__2 .end__about .languages img {
	border-radius: 50%;
	width: 5rem;
	object-fit: contain;
	margin-bottom: 2rem;
}

#projects {
	height: 50vh;
	width: 100%;
	display: flex;
	text-align: center;

	justify-content: center;
	align-items: center;
}

#footer {
	height: 50vh;
	width: 100%;
	padding: 3rem;

	opacity: 0.6;

	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	line-height: 1.3;
	letter-spacing: 0.2rem;
}

.footer__header {
	height: 20vh;
	width: 100%;
	display: flex;

	justify-content: space-around;
	align-items: center;
}
.footer__header img {
	width: 10rem;
	height: 10rem;
	object-fit: contain;
	border-radius: 50%;
}
.footer__contact {
	height: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer__contact__icons ul {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	list-style: none;
	margin-top: 2rem;
}
.footer__contact__icons ul li {
	margin-left: 4rem;
}
.footer__contact__icons ul li a {
	font-size: 3.5rem;
}
