:root {
	--color-primary: #5ec576;
	--color-secondary: #ffcb03;
	--color-tertiary: #ff585f;
	--color-primary-darker: #4bbb7d;
	--color-secondary-darker: #ffbb00;
	--color-tertiary-darker: #fd424b;
	--color-primary-opacity: #5ec5763a;
	--color-secondary-opacity: #ffcd0331;
	--color-tertiary-opacity: #ff58602d;
	--gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
	--gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	color: #444;
	line-height: 1.9;
	background-color: #f3f3f3;
	font-size: 1.6rem;
}

.container {
	height: 100vh;
	width: 100%;

	padding: 3rem;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
}
.header {
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-rows: 5rem 1fr;
}

.navigation {
	height: 100%;
	width: 100%;
	background-color: #ccc;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navigation ul {
	color: #444;

	font-size: 1.6rem;
	font-weight: 300;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;

	transition: all 0.3s ease-in-out;
}

.navigation ul li {
	list-style: none;
	margin: 0 4rem;
}

.navigation ul li a {
	text-decoration: none;
	color: #444;
	transition: all 0.3s ease-in-out;
	font-size: 1.4rem;
	font-weight: 300;
}
