:root {
	--color-primary: #5ec576;
	--color-secondary: #ffcb03;
	--color-tertiary: #ff585f;
	--color-primary-darker: #4bbb7d;
	--color-secondary-darker: #ffbb00;
	--color-tertiary-darker: #fd424b;
	--color-primary-opacity: #5ec5763a;
	--color-secondary-opacity: #ffcd0331;
	--color-tertiary-opacity: #ff58602d;
	--gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
	--gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	color: #444;
	line-height: 1.9;
	position: absolute;

	font-size: 1.6rem;
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: scroll;
}

body::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
}
